body {
  background: rgb(0, 0, 0);
}
div {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
.container {
  background-color: white;
  width: 34vw;
  height: 100vh;
  margin: auto;
}
 
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 6%;
  /*background: lightcoral;*/
}

header .titulo {
 width: 95vw;
 display: flex;
 justify-content: flex-start;
}
.title-name {
  /*background: lightpink;*/
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.title-name h4, p {
  margin: 0;
  padding: 0;
}

.fab, .far {
  font-size: 30px;
  padding-right: 5px;
  /*background: lime;*/
}
.fas {
  font-size: 22px;
}
.post-image {
  background-image: url("https://picsum.photos/600/900?random=4");
  background-size: cover;
  /*width: 100%;*/
  height: 56%;
}
.actions {
  height: 6%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.actions-left {
  display: flex;
  flex-direction: row;
}

.text p {
  text-align: justify;
  height: 30%;
  margin: 13px;
}